:root {
    --text: azure;
    --main: #1b2d88;
    --second: #10226c;
    --third: #0c1a57;
    --fourth: #081448;
    --fifth: #060a2e;
}

div.topbar {
    background-color: var(--fourth);
    overflow: hidden;
    margin: 0;
}

div.footer {
    position: absolute;
    bottom: 0;
    background-color: var(--fourth);
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
}


div.content {
    padding: 15px;
    padding-bottom: 2rem;
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

body {
    text-shadow: 0px 0px 15px white;
    position: relative;
    min-height: 100vh;
    color: azure;
    background-color: var(--fifth);
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: underline;
    color: #8388a3;
}

a.button {
    background-color: var(--second);
    color: azure;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: larger;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

a:hover.button {
    background-color: var(--third);
}

a.button.active {
    background-color: var(--main);
}

ul {
    font-size: x-large;
    list-style-type: none;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}